<!-- Header -->
<section class="section-outer section-header">
  <div class="section-inner">
    <div class="section-header-logo">
      <img *ngIf="isEditMode" [froalaEditor]="getEditorByName('headerLogo')" [(froalaModel)]="froalaElements.headerLogo">
      <img *ngIf="!isEditMode" [froalaImageView]="froalaElements.headerLogo">
    </div>
    <nav>
      <ul class="header-navigation">
        <li><a href="#">Browse</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="#">Register</a></li>
        <li class="toggle-container">
          <app-toggle [isChecked]="false" (changeState)="handleChangeEditMode($event)"></app-toggle>
          <span class="toggle-container__toggle-text">Enable Edit Mode</span></li>
        <button *ngIf="isEditMode" class="save-changes-button" (click)="sendChanges()">Save Changes</button>
      </ul>
    </nav>
  </div>
</section>
<!-- / Header -->

<!-- Featured -->
<section class="section-outer section-featured">
  <div class="section-inner">
    <div class="section-featured-search">
      <div class="section-featured-wrapper">
        <div *ngIf="isEditMode" class="section-featured-wrapper__title" [froalaEditor]="getEditorByName('heroHeader')"
             [(froalaModel)]="froalaElements.heroHeader">
        </div>
        <div *ngIf="!isEditMode" class="section-featured-wrapper__title"
             [froalaView]="froalaElements.heroHeader">
        </div>
        <div *ngIf="isEditMode" class="section-featured-wrapper__subtitle" [froalaEditor]="getEditorByName('heroSubtext')"
             [(froalaModel)]="froalaElements.heroSubtext">
        </div>
        <div *ngIf="!isEditMode" class="section-featured-wrapper__subtitle"
             [froalaView]="froalaElements.heroSubtext">
        </div>
        <div class="section-featured-wrapper__input">
          <input type="text" placeholder="Search">
        </div>
      </div>
    </div>
    <div class="section-featured-list">
      <div class="section-featured-list__item">
        <div class="item-header">
          <div class="item-header__icon">
            <img src="../assets/img/plugin.png" alt="plugin">
          </div>
          <div class="item-header__title">Plugin</div>
        </div>
        <div class="content">With this Plugin you can collaborate with teammates at any time</div>
      </div>
      <div class="section-featured-list__item">
        <div class="item-header">
          <div class="item-header__icon">
            <img src="../assets/img/application.png" alt="application">
          </div>
          <div class="item-header__title">Application</div>
        </div>
        <div class="content">The leading project management tool for developers and managers to build faster</div>
      </div>
      <div class="section-featured-list__item">
        <div class="item-header">
          <div class="item-header__icon">
            <img src="../assets/img/integration.png" alt="integration">
          </div>
          <div class="item-header__title">Integration</div>
        </div>
        <div class="content">Integrate directly with your existing account and make customer updates a breeze</div>
      </div>
      <div class="section-featured-list__item">
        <div class="item-header">
          <div class="item-header__icon">
            <img src="../assets/img/Icon.png" alt="extension">
          </div>
          <div class="item-header__title">Extension</div>
        </div>
        <div class="content">Improve and extend your experience right from your own UI</div>
      </div>
    </div>
  </div>
</section>
<!-- / Featured -->

<!-- Added -->
<section class="section-outer section-added">
  <div class="section-inner">
    <div class="section-added-header">
      <div class="section-added-header-head">
        <div class="section-added-header-head__title">Recently Added</div>
        <div class="section-added-header-head__subtitle">The latest apps that help you and your team work and build
          faster
        </div>
      </div>
      <div class="section-added-header-link">
        <a href="#">See all ></a>
      </div>
    </div>

    <div class="section-added-applications">
      <div class="section-added-applications-app">
        <div class="section-added-applications-app-wrapper">
          <div class="section-added-applications-app-wrapper-image">
            <img
              src="https://d3grfap2l5ikgv.cloudfront.net/5dcd95d7316b033502915d16/public/5e0e0a00600d2b557573f3d6.jpg"
              alt="application">
          </div>
          <div class="section-added-applications-app-wrapper-info">
            <div class="section-added-applications-app-wrapper-info__name">Application</div>
            <div class="section-added-applications-app-wrapper-info__type">Customer Support</div>
            <div class="section-added-applications-app-wrapper-info__description">With this Plugin you can collaborate
              with teammates at any time
            </div>
          </div>
        </div>
      </div>
      <div class="section-added-applications-app">
        <div class="section-added-applications-app-wrapper">
          <div class="section-added-applications-app-wrapper-image">
            <img
              src="https://d3grfap2l5ikgv.cloudfront.net/5dcd95d7316b033502915d16/public/5e0e0a00600d2b557573f3d6.jpg"
              alt="application">
          </div>
          <div class="section-added-applications-app-wrapper-info">
            <div class="section-added-applications-app-wrapper-info__name">Application</div>
            <div class="section-added-applications-app-wrapper-info__type">Customer Support</div>
            <div class="section-added-applications-app-wrapper-info__description">With this Plugin you can collaborate
              with teammates at any time
            </div>
          </div>
        </div>
      </div>
      <div class="section-added-applications-app">
        <div class="section-added-applications-app-wrapper">
          <div class="section-added-applications-app-wrapper-image">
            <img
              src="https://d3grfap2l5ikgv.cloudfront.net/5dcd95d7316b033502915d16/public/5e0e0a00600d2b557573f3d6.jpg"
              alt="application">
          </div>
          <div class="section-added-applications-app-wrapper-info">
            <div class="section-added-applications-app-wrapper-info__name">Application</div>
            <div class="section-added-applications-app-wrapper-info__type">Customer Support</div>
            <div class="section-added-applications-app-wrapper-info__description">With this Plugin you can collaborate
              with teammates at any time
            </div>
          </div>
        </div>
      </div>
      <div class="section-added-applications-app">
        <div class="section-added-applications-app-wrapper">
          <div class="section-added-applications-app-wrapper-image">
            <img
              src="https://d3grfap2l5ikgv.cloudfront.net/5dcd95d7316b033502915d16/public/5e0e0a00600d2b557573f3d6.jpg"
              alt="application">
          </div>
          <div class="section-added-applications-app-wrapper-info">
            <div class="section-added-applications-app-wrapper-info__name">Application</div>
            <div class="section-added-applications-app-wrapper-info__type">Customer Support</div>
            <div class="section-added-applications-app-wrapper-info__description">With this Plugin you can collaborate
              with teammates at any time
            </div>
          </div>
        </div>
      </div>
      <div class="section-added-applications-app">
        <div class="section-added-applications-app-wrapper">
          <div class="section-added-applications-app-wrapper-image">
            <img
              src="https://d3grfap2l5ikgv.cloudfront.net/5dcd95d7316b033502915d16/public/5e0e0a00600d2b557573f3d6.jpg"
              alt="application">
          </div>
          <div class="section-added-applications-app-wrapper-info">
            <div class="section-added-applications-app-wrapper-info__name">Application</div>
            <div class="section-added-applications-app-wrapper-info__type">Customer Support</div>
            <div class="section-added-applications-app-wrapper-info__description">With this Plugin you can collaborate
              with teammates at any time
            </div>
          </div>
        </div>
      </div>
      <div class="section-added-applications-app">
        <div class="section-added-applications-app-wrapper">
          <div class="section-added-applications-app-wrapper-image">
            <img
              src="https://d3grfap2l5ikgv.cloudfront.net/5dcd95d7316b033502915d16/public/5e0e0a00600d2b557573f3d6.jpg"
              alt="application">
          </div>
          <div class="section-added-applications-app-wrapper-info">
            <div class="section-added-applications-app-wrapper-info__name">Application</div>
            <div class="section-added-applications-app-wrapper-info__type">Customer Support</div>
            <div class="section-added-applications-app-wrapper-info__description">With this Plugin you can collaborate
              with teammates at any time
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section-added-category">
      <div class="section-added-category-title">Categories to Explore</div>
      <div class="section-added-category-list">
        <div class="section-added-category-list__item"><a href="#"><span>Customer Support</span></a></div>
        <div class="section-added-category-list__item"><a href="#"><span>Analytics</span></a></div>
        <div class="section-added-category-list__item"><a href="#"><span>Communication</span></a></div>
        <div class="section-added-category-list__item"><a href="#"><span>File Management</span></a></div>
        <div class="section-added-category-list__item"><a href="#"><span>Productivity</span></a></div>
        <div class="section-added-category-list__item"><a href="#"><span>Developer Tools</span></a></div>
      </div>
    </div>


    <div class="section-added-header">
      <div class="section-added-header-head">
        <div class="section-added-header-head__title">Most Popular</div>
      </div>
      <div class="section-added-header-link">
        <a href="#">See all ></a>
      </div>
    </div>

    <div class="section-added-applications">
      <div class="section-added-applications-app">
        <div class="section-added-applications-app-wrapper">
          <div class="section-added-applications-app-wrapper-image">
            <img
              src="https://d3grfap2l5ikgv.cloudfront.net/5dcd95d7316b033502915d16/public/5e0e0a00600d2b557573f3d6.jpg"
              alt="application">
          </div>
          <div class="section-added-applications-app-wrapper-info">
            <div class="section-added-applications-app-wrapper-info__name">Application</div>
            <div class="section-added-applications-app-wrapper-info__type">Customer Support</div>
            <div class="section-added-applications-app-wrapper-info__description">With this Plugin you can collaborate
              with teammates at any time
            </div>
          </div>
        </div>
      </div>
      <div class="section-added-applications-app">
        <div class="section-added-applications-app-wrapper">
          <div class="section-added-applications-app-wrapper-image">
            <img
              src="https://d3grfap2l5ikgv.cloudfront.net/5dcd95d7316b033502915d16/public/5e0e0a00600d2b557573f3d6.jpg"
              alt="application">
          </div>
          <div class="section-added-applications-app-wrapper-info">
            <div class="section-added-applications-app-wrapper-info__name">Charts.me</div>
            <div class="section-added-applications-app-wrapper-info__type">Customer Support</div>
            <div class="section-added-applications-app-wrapper-info__description">With this Plugin you can collaborate
              with teammates at any time
            </div>
          </div>
        </div>
      </div>
      <div class="section-added-applications-app">
        <div class="section-added-applications-app-wrapper">
          <div class="section-added-applications-app-wrapper-image">
            <img
              src="https://d3grfap2l5ikgv.cloudfront.net/5dcd95d7316b033502915d16/public/5e0e0a00600d2b557573f3d6.jpg"
              alt="application">
          </div>
          <div class="section-added-applications-app-wrapper-info">
            <div class="section-added-applications-app-wrapper-info__name">Icon Test App</div>
            <div class="section-added-applications-app-wrapper-info__type">File Management</div>
            <div class="section-added-applications-app-wrapper-info__description">With this Plugin you can collaborate
              with teammates at any time
            </div>
          </div>
        </div>
      </div>
      <div class="section-added-applications-app">
        <div class="section-added-applications-app-wrapper">
          <div class="section-added-applications-app-wrapper-image">
            <img
              src="https://d3grfap2l5ikgv.cloudfront.net/5dcd95d7316b033502915d16/public/5e0e0a00600d2b557573f3d6.jpg"
              alt="application">
          </div>
          <div class="section-added-applications-app-wrapper-info">
            <div class="section-added-applications-app-wrapper-info__name">My Algorithm</div>
            <div class="section-added-applications-app-wrapper-info__type">Customer Support</div>
            <div class="section-added-applications-app-wrapper-info__description">With this Plugin you can collaborate
              with teammates at any time
            </div>
          </div>
        </div>
      </div>
      <div class="section-added-applications-app">
        <div class="section-added-applications-app-wrapper">
          <div class="section-added-applications-app-wrapper-image">
            <img
              src="https://d3grfap2l5ikgv.cloudfront.net/5dcd95d7316b033502915d16/public/5e0e0a00600d2b557573f3d6.jpg"
              alt="application">
          </div>
          <div class="section-added-applications-app-wrapper-info">
            <div class="section-added-applications-app-wrapper-info__name">Order Packer</div>
            <div class="section-added-applications-app-wrapper-info__type">File Management</div>
            <div class="section-added-applications-app-wrapper-info__description">With this Plugin you can collaborate
              with teammates at any time
            </div>
          </div>
        </div>
      </div>
      <div class="section-added-applications-app">
        <div class="section-added-applications-app-wrapper">
          <div class="section-added-applications-app-wrapper-image">
            <img
              src="https://d3grfap2l5ikgv.cloudfront.net/5dcd95d7316b033502915d16/public/5e0e0a00600d2b557573f3d6.jpg"
              alt="application">
          </div>
          <div class="section-added-applications-app-wrapper-info">
            <div class="section-added-applications-app-wrapper-info__name">Order Picker</div>
            <div class="section-added-applications-app-wrapper-info__type">Customer Support</div>
            <div class="section-added-applications-app-wrapper-info__description">With this Plugin you can collaborate
              with teammates at any time
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="section-added-header">
      <div class="section-added-header-head">
        <div class="section-added-header-head__title">Apps for Analytics</div>
      </div>
      <div class="section-added-header-link">
        <a href="#">See all ></a>
      </div>
    </div>

    <div class="section-added-applications">
      <div class="section-added-applications-app">
        <div class="section-added-applications-app-wrapper">
          <div class="section-added-applications-app-wrapper-image">
            <img
              src="https://d3grfap2l5ikgv.cloudfront.net/5dcd95d7316b033502915d16/public/5e0e0a00600d2b557573f3d6.jpg"
              alt="application">
          </div>
          <div class="section-added-applications-app-wrapper-info">
            <div class="section-added-applications-app-wrapper-info__name">Application</div>
            <div class="section-added-applications-app-wrapper-info__type">Customer Support</div>
            <div class="section-added-applications-app-wrapper-info__description">With this Plugin you can collaborate
              with teammates at any time
            </div>
          </div>
        </div>
      </div>
      <div class="section-added-applications-app">
        <div class="section-added-applications-app-wrapper">
          <div class="section-added-applications-app-wrapper-image">
            <img
              src="https://d3grfap2l5ikgv.cloudfront.net/5dcd95d7316b033502915d16/public/5e0e0a00600d2b557573f3d6.jpg"
              alt="application">
          </div>
          <div class="section-added-applications-app-wrapper-info">
            <div class="section-added-applications-app-wrapper-info__name">Charts.me</div>
            <div class="section-added-applications-app-wrapper-info__type">Customer Support</div>
            <div class="section-added-applications-app-wrapper-info__description">With this Plugin you can collaborate
              with teammates at any time
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / Added -->

<!-- Developer -->
<section class="section-outer section-developer">
  <div class="section-inner">
    <div class="section-developer__img">
      <img *ngIf="isEditMode" [froalaEditor]="getEditorByName('developerBlockImage')" [(froalaModel)]="froalaElements.developerBlockImage" alt="developer">
      <img *ngIf="!isEditMode" [froalaImageView]="froalaElements.developerBlockImage">
    </div>
    <div class="section-developer__content">
      <div *ngIf="isEditMode" class="section-developer__content-title" [froalaEditor]="getEditorByName('developerBlockHeader')"
           [(froalaModel)]="froalaElements.developerBlockHeader">
      </div>
      <div *ngIf="!isEditMode" class="section-developer__content-title" [froalaView]="froalaElements.developerBlockHeader">
      </div>
      <div *ngIf="isEditMode" class="section-developer__content-subtitle" [froalaEditor]="getEditorByName('developerBlockSubtext')"
           [(froalaModel)]="froalaElements.developerBlockSubtext">
      </div>
      <div *ngIf="!isEditMode" class="section-developer__content-subtitle" [froalaView]="froalaElements.developerBlockSubtext">
      </div>
      <div class="section-developer__content-button">
        <button *ngIf="isEditMode" [froalaEditor]="getEditorByName('developerBlockButton')" [(froalaModel)]="froalaElements.developerBlockButton"></button>
        <button *ngIf="!isEditMode" [innerHTML]="froalaElements.developerBlockButton.innerHTML"></button>
      </div>
    </div>
  </div>
</section>
<!-- / Developer -->
<!-- Footer -->
<section class="section-outer section-footer">
  <div class="section-inner">
    <div class="section-footer-logo">
      <img *ngIf="isEditMode" [froalaEditor]="getEditorByName('footerLogo')" [(froalaModel)]="froalaElements.footerLogo">
      <img *ngIf="!isEditMode" [froalaImageView]="froalaElements.footerLogo">
    </div>
    <div class="section-footer-browse">
      <div class="section-footer-browse__title">Browse</div>
      <div class="section-footer-browse__links">
        <ul class="helper-links">
          <li><a href="#">Most popular</a></li>
          <li><a href="#">Featured</a></li>
        </ul>
      </div>
    </div>
    <div class="section-footer-developers">
      <div class="section-footer-developers__title">Developers</div>
      <div class="section-footer-developers__links">
        <ul class="helper-links">
          <li><a href="#">Documentation</a></li>
          <li><a href="#">Getting started</a></li>
          <li><a href="#">API reference</a></li>
          <li><a href="#">Sample Code</a></li>
        </ul>
      </div>
    </div>
    <div class="section-footer-company">
      <div class="section-footer-company__title">Company</div>
      <div class="section-footer-company-links">
        <ul class="helper-links">
          <li><a href="#">Contact us</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
      </div>
    </div>
    <div class="section-footer-social">
      <img src="../assets/img/youtube-icon.png" alt="youtube">
      <img src="../assets/img/twitter-icon.png" alt="twitter">
    </div>
  </div>
</section>
<!-- / Footer -->
