@mixin font-rubik {
  font-family: 'Rubik', sans-serif;
}

.section-outer {
}

.section-inner {
  width: 1180px;
  margin: 0 auto;
}

// ====  / Common ====

// ==== header ====

.section-header {
  background-color: #fbfcfd;
  position: relative;
  z-index: 1;
  box-shadow: 1px 0 8px 0 #979797;

  .section-inner {
    position: relative;
    z-index: 1;
    height: 80px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .header-navigation {
      display: flex;
      align-items: center;

      .toggle-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 210px;

        .toggle-container__toggle-text {
          color: #333333;
          font-weight: 400;
          font-size: 14px;
        }
      }
    }
  }

  &::before {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &-logo img {
    cursor: pointer;
  }

  nav {
  }

  nav ul {
    display: flex;
  }

  nav ul li {
    list-style: none;
    padding: 0 15px;
  }

  nav ul li a {
    text-decoration: none;
    color: #333333;
    font-weight: 400;
    font-size: 14px;
  }

  nav ul li a:hover {
    text-decoration: none;
    color: blue;
    font-weight: 500;
    font-size: 14px;
    transition: .4s;
  }
}

// ====  / header ====


// ==== featured ====

.section-featured {
  background: url('../assets/img/PatternBg.png') no-repeat 50% 50%;
  background-size: cover;
  position: relative;

  .section-inner {
    //height: 60vh;
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
  }

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #fbfcfd;
    z-index: 2;
  }

  &-search {
    display: flex;
    flex-grow: 1;
    align-items: center;
    margin-bottom: 40px;
  }

  &-wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    &__title,
    &__subtitle {
      text-align: center;
    }

    &__title {
      @include font-rubik;

      font-weight: 500;
      line-height: 58px;
      font-size: 38px;
      color: #333333;
      margin-top: 65px;
      margin-bottom: 5px;
    }

    &__subtitle {
      @include font-rubik;

      font-weight: 300;
      line-height: 28px;
      font-size: 18px;
      color: #727272;
    }

    &__input {
      flex: 1;

      input {
        border: 1px solid #c9d5ea;
        border-radius: 4px;
        font-size: 16px;
        transition: none;
        margin: 0;
        padding: 13px 16px;
        outline: none;
        width: 100%;

        &::placeholder {
          color: #727272;
        }
      }

    }
  }
}

.section-featured-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20px;
  margin-top: 20px;
  margin-bottom: 10px;

  &__item + &__item {
    margin-left: 40px;
  }

  &__item {
    box-shadow: 4px 7px 11px 0 #979797;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 20px;
    width: 255px;
    border: 1px solid #f8faff;

    .item-header {
      background-color: #ffffff;
      padding-top: 47px;
      padding-bottom: 47px;

      &__icon {
        text-align: center;
        margin-bottom: 18px;
      }

      &__title {
        @include font-rubik;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #333333;

      }
    }

    .content {
      @include font-rubik;
      background-color: #ffffff;
      font-size: 12px;
      font-weight: 300;
      flex-direction: row;
      align-items: center;
      height: 76px;
      line-height: 22px;
      color: #333333;
    }
  }
}

// ==== / featured ====


// ==== developer ====

.section-developer {
  background-color: #f4f7fc;
  padding-top: 70px;
  padding-bottom: 70px;

  .section-inner {
    display: flex;
    justify-content: center;
  }

  &__img {
    align-self: center;
    padding-right: 80px;

    img {
      width: 174px;
      height: auto;
    }
  }

  &__content {
    align-self: center;

    &-title {
      @include font-rubik;

      line-height: 46px;
      font-size: 38px;
      font-weight: 500;
      color: #333333;
      margin-bottom: 16px;

    }

    &-subtitle {
      @include font-rubik;

      line-height: 20px;
      font-weight: 300;
      font-size: 14px;
      color: #727272;
      margin-bottom: 16px;
    }

    &-button {
      button {
        @include font-rubik;

        margin: 0;
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        color: #ffffff;
        background-color: #537cfd;
        border-radius: 4px;
        border: 1px solid #537cfd;
        padding: .75rem 1.5rem;
        outline: none;
        cursor: pointer;
      }
    }
  }
}

// ==== / developer ====

// ==== footer ====
.section-footer {
  padding-top: 50px;
  padding-bottom: 50px;

  .section-inner {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }

  .section-footer-logo {
    img {
      cursor: pointer;
    }
  }

  .section-footer-browse {
    &__title {
      @include font-rubik;
      font-size: 12px;
      font-weight: 500;
      line-height: 20px;
      color: #333333;
      margin-bottom: 12px;
    }
  }

  .section-footer-developers {
    &__title {
      @include font-rubik;
      font-size: 12px;
      font-weight: 500;
      line-height: 20px;
      color: #333333;
      margin-bottom: 12px;
    }
  }

  .section-footer-company {
    &__title {
      @include font-rubik;
      font-size: 12px;
      font-weight: 500;
      line-height: 20px;
      color: #333333;
      margin-bottom: 12px;
    }
  }

  .section-footer-social {
    img {
      height: 36px;
      width: auto;
      cursor: pointer;
    }
  }


}

.helper-links {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    a {
      @include font-rubik;

      text-decoration: none;
      font-weight: 300;
      font-size: 12px;
      line-height: 28px;
      color: #8392a7;

      &:hover {
        color: #333333;
      }
    }
  }
}

// ==== / footer ====

// ==== added ====
.section-added {
  padding-top: 73px;
  padding-bottom: 80px;

  &-category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    &-title {
      @include font-rubik;

      font-size: 38px;
      font-weight: 500;
      line-height: 58px;
      color: #333333;
      justify-content: center;
      align-items: center;
      margin-bottom: 32px;
    }

    &-list {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-bottom: 80px;

      &__item {
        @include font-rubik;

        a {
          text-decoration: none;
          background-image: url('https://shiphero-market-dev.openchannel.io/wp-content/themes/oc-theme-shiphero/assets/img/category-bg.svg');
          background-size: cover;
          background-position: center;
          text-transform: capitalize;
          font-weight: normal;
          border-radius: 4px;
          padding: 20px 10px;
          width: 140px;
          text-align: center;
          height: 61px;
          text-overflow: ellipsis;
          white-space: nowrap;
          color: #ffffff;
          float: right;
          font-size: 14px;
          line-height: 21px;
        }
      }

      &__item + &__item {
        margin-left: 35px;
      }
    }
  }

  &-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;

    &-head {
      &__title {
        @include font-rubik;

        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        color: #333333;
        margin-bottom: 8px;
      }

      &__subtitle {
        @include font-rubik;

        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #727272;
      }
    }

    &-link {
      a {
        @include font-rubik;

        color: #537cfd;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        text-decoration: none;
      }
    }
  }

  &-applications {
    display: table-cell;

    &-app {
      width: 350px;
      display: inline-block;
      padding-bottom: 20px;

      &-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;

        &-image {
          cursor: pointer;
          padding-right: 16px;

          img {
            height: 60px;
            width: auto;
            border-radius: 4px;
          }
        }

        &-info {
          &__name {
            @include font-rubik;

            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            color: #333333;
            margin-bottom: 8px;
            cursor: pointer;

            &:hover {
              color: #537cfd;
            }
          }

          &__type {
            @include font-rubik;

            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: #537cfd;
            margin-bottom: 8px;
            cursor: pointer;
          }

          &__description {
            @include font-rubik;

            font-weight: 300;
            font-size: 14px;
            line-height: 24px;
            color: #727272;
            cursor: pointer;
          }
        }
      }
    }
  }

}

// ==== /added ====
.save-changes-button {
  display: inline-block;
  position: fixed;
  right: 10px;
  bottom: 10px;
  margin: 40px;
  width: 100px;
  height: 100px;
  background: #537cfd;
  opacity: .2;
  transition: .4s;
  color: #ffffff;
  cursor: pointer;
  border-radius: 50%;

  box-shadow: 0 3px 20px rgba(0,0,0,.25),
  inset 0 2px 0 rgba(255,255,255,.6),
  0 2px 0 rgba(0,0,0,.1),
  inset 0 0 20px rgba(0,0,0,.1);

  &:hover {
    opacity: .7;
    transition: .4s;
  }

  &:focus {
    outline: none;
  }
}
