// ==== Imports ====

@import '../node_modules/normalize.css/normalize.css';

// ==== / Imports ====


// ==== Mixins ====

@mixin font-rubik {
  font-family: 'Rubik', sans-serif;
}

// ====  / Mixins ====

// ==== Common ====
* {
  box-sizing: border-box;
}
body {
  @include font-rubik;
}
